// we ignore this file because eslint reports this:
// C:\git\BlaTeX.Interactivity\src\PointToCursorHandleConverter.ts     
// 0:0  error  Parsing error: Cannot read property 'map' of undefined
// even though 'map' doesn't occur anywhere in that file. 

// It's probably due to a TS version and ESLint version mismatch

// More info: https://github.com/jaredpalmer/tsdx/issues/1033






